/* Global Settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reusable classes */
.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between
}

.justify-space-eveny {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}


/* Common sections */
#header {
    background-color: #45B39D;
    /* position: fixed; */
    width: 87%;
    margin-left: 13%;
}

#main-nav {
    background-color: #000;
}
#main-nav ul li:hover, 
#main-nav ul li.active {
    background-color: #292929;
}
#main-nav ul li a {
    color: #C8C8C8;
    padding: 17px 12px;
    display: block;
}
#main-nav ul li:hover a, 
#main-nav ul li.active a {
    color: #EA57A3;
}
#main-nav ul li a span {
    margin-left: 5px;
}

#main {

}

#sidebar {
    position: fixed;
    height: 100%;
    width: 13%;
    background-color: #111;
}

#sidebar .logo {
    background-color: #EA57A3;
    text-align: center;
    padding: 12px 0px;
}
#sidebar .logo a {
    color: #fff;
}
#sidebar .logo a span{
    color: #000;
}

#footer {
    
}